<div class="modal-header">
  <h3 class="modal-title">Post a Trip</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="pickup_location" class="col-sm-2 control-label">Pick-up</label>

      <div class="col-sm-10">
        <p class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">
                  <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                </button>
              </span>
          <input type="text" ng-autocomplete class="form-control" id="pickup_location" placeholder="Where will you pick up your customer?" ng-model="tripModal.new_trip.pickup" details="tripModal.new_trip.pickup_details" />
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="dropoff_location" class="col-sm-2 control-label">Drop-off</label>

      <div class="col-sm-10">
        <p class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
              </button>
            </span>
          <input type="text" ng-autocomplete class="form-control" id="dropoff_location" placeholder="Where is your trip destination?" ng-model="tripModal.new_trip.dropoff" details="tripModal.new_trip.dropoff_details" />
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="pick_up_date" class="col-sm-2 control-label">Pick Up Time</label>

      <div class="col-sm-4">
        <div class="input-group">
          <input type="text"
                 id="pick_up_date"
                 class="form-control"
                 datepicker-popup
                 ng-model="tripModal.new_trip.dep_date_f"
                 is-open="status_pickup.opened"
                 min-date="minDate"
                 max-date="maxDate"
                 datepicker-options="dateOptions"
                 date-disabled="tripModal.disabled(date, mode)"
                 ng-required="true" close-text="Close"
                 placeholder="YYYY-MM-DD"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="tripModal.open($event, 'pickup')">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
        </div>
        <timepicker class="form-control" ng-model="mytime" ng-change="changed()" hour-step="1" minute-step="1" show-meridian="ismeridian"></timepicker>
      </div>
    </div>

    <div class="form-group">
      <label for="arrive_date" class="col-sm-2 control-label">Arrive Time</label>

      <div class="col-sm-4">
        <p class="input-group">
          <input type="text"
                 id="arrive_date"
                 class="form-control"
                 datepicker-popup
                 ng-model="tripModal.new_trip.dep_date_t"
                 is-open="status_arrive.opened"
                 min-date="minDate"
                 max-date="maxDate"
                 datepicker-options="dateOptions"
                 date-disabled="tripModal.disabled(date, mode)"
                 ng-required="true" close-text="Close"
                 placeholder="YYYY-MM-DD"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="tripModal.open($event, 'arrive')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
        </p>
      </div>
    </div>

    <div class="form-group">
      <label for="car_model" class="col-sm-2 control-label">Car Model</label>

      <div class="col-sm-4">
        <select id="car_model" class="form-control" name="" placeholder="Your car model?" ng-model="tripModal.car_model" >
          <option ng-repeat="v in tripModal.vehicles" value="{{v.model}}">{{v.model}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="car_seats" class="col-sm-2 control-label">Seats Available</label>

      <div class="col-sm-4">
        <div class="select">
          <div ng-repeat="selected_vehicles in tripModal.vehicles | filter:tripModal.car_model">
            <select id="car_seats" class="form-control" name="" placeholder="How many seats in your car?" ng-model="tripModal.car_seat">
              <option ng-repeat="seat in selected_vehicles.seats_option" value="seat">{{seat}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <alert ng-repeat="alert in tripModal.alerts" type="danger" close="tripModal.closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</alert>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="tripModal.ok()">Submit</button>
  <button class="btn btn-warning" type="button" ng-click="tripModal.cancel()">Cancel</button>
</div>

