<navbar></navbar>
<div class="container">
  <div class="jumbotron">
    <h1>Trips</h1>
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Post a trip</a></li>
    <li><a href="#">Search a trip</a></li>
    <li><a href="#">Retrieve</a></li>
  </ul>
  <br>
  <h4><p class="bg-primary"><strong>Trip indormation</strong></p></h4>
  <blockquote>
    <div class="row row-condensed space-4">
      <label class="col-sm-2" for="destination">
        Destination
      </label>

      <div class="col-sm-10">
        <input id="trip_destination" name="user[first_name]" size="30" type="text" value="">
      </div>
    </div>
    <br>

    <div class="row row-condensed space-4">
      <label class="col-sm-2" for="pick_up_location">
        Pick up location
      </label>

      <div class="col-sm-10">
        <input id="pick_up_location" name="user[last_name]" size="30" type="text" value="">
      </div>
    </div>
    <br>

    <div class="row row-condensed space-4">
      <label class="col-sm-2" for="pick_up_date">
        Pick up date <i class="icon icon-lock icon-ebisu" data-behavior="tooltip" aria-label="Private"></i>
      </label>


      <div>
        <div class="row">
          <div class="col-md-3">
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     datepicker-popup
                     ng-model="pickup_dt"
                     is-open="status_pickup.opened"
                     min-date="minDate"
                     max-date="maxDate"
                     datepicker-options="dateOptions"
                     date-disabled="trip.disabled(date, mode)"
                     ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="trip.open($event, 'pickup')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row row-condensed space-4">
      <label class="col-sm-2" for="arrive_date">
        Arrive date
      </label>

      <div>
        <div class="row">
          <div class="col-md-3">
            <p class="input-group">
              <input type="text"
                     class="form-control"
                     datepicker-popup
                     ng-model="arrive_dt"
                     is-open="status_arrive.opened"
                     min-date="minDate"
                     max-date="maxDate"
                     datepicker-options="dateOptions"
                     date-disabled="trip.disabled(date, mode)"
                     ng-required="true" close-text="Close"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="trip.open($event, 'arrive')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row row-condensed space-4">
      <label class="col-sm-2" for="user_last_name">
        Car model
      </label>

      <div class="col-sm-10">

        <input id="user_carmodle" name="user[carmodle]" size="30" type="text" value="">
      </div>
    </div>
    <br>

    <div class="row row-condensed space-4">
      <label class="col-sm-2" for="user_birthdate">
        Seats
      </label>

      <div class="col-sm-10">

        <div class="select">
          <select id="user_birthdate_2i" name="user[birthdate(2i)]">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
        </div>

  </blockquote>

  <h4><p class="bg-primary"><strong>Contact information</strong></p></h4>
  <blockquote>


  </blockquote>
</div>

<footer></footer>
