<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarController">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img src="assets/images/ezcarpool.png"></a>
    </div>
    <div collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="" ng-click="nav.open()">Post trip</a></li>
        <li><a ui-sref="search">Search trip</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Post a Trip</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label for="trip_destination" class="col-sm-2 control-label">Destination</label>

        <div class="col-sm-10">
          <p class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-default">
                <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
              </button>
            </span>
            <input type="text" class="form-control" id="trip_destination" placeholder="Where is your trip destination?">
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="pick_up_location" class="col-sm-2 control-label">Pick Up</label>

        <div class="col-sm-10">
          <p class="input-group">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default">
                  <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                </button>
              </span>
            <input type="text" class="form-control" id="pick_up_location" placeholder="Where will you pick up your customer?">
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="pick_up_date" class="col-sm-2 control-label">Pick Up Time</label>

        <div class="col-sm-10">
          <p class="input-group">
            <input type="text"
                   id="pick_up_date"
                   class="form-control"
                   datepicker-popup
                   ng-model="pickup_dt"
                   is-open="status_pickup.opened"
                   min-date="minDate"
                   max-date="maxDate"
                   datepicker-options="dateOptions"
                   date-disabled="modal.disabled(date, mode)"
                   ng-required="true" close-text="Close"
                   placeholder="When will you pick up your customer?"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="modal.open($event, 'pickup')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="arrive_date" class="col-sm-2 control-label">Arrive Time</label>

        <div class="col-sm-10">
          <p class="input-group">
            <input type="text"
                   id="arrive_date"
                   class="form-control"
                   datepicker-popup
                   ng-model="arrive_dt"
                   is-open="status_arrive.opened"
                   min-date="minDate"
                   max-date="maxDate"
                   datepicker-options="dateOptions"
                   date-disabled="modal.disabled(date, mode)"
                   ng-required="true" close-text="Close"
                   placeholder="When will you pick up your customer?"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="modal.open($event, 'arrive')">
                  <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
          </p>
        </div>
      </div>

      <div class="form-group">
        <label for="car_model" class="col-sm-2 control-label">Car Model</label>

        <div class="col-sm-10">
          <input type="text" class="form-control" id="car_model" placeholder="What mode is your car?">
        </div>
      </div>

      <div class="form-group">
        <label for="car_seats" class="col-sm-2 control-label">Car Model</label>

        <div class="col-sm-10">
          <div class="select">
            <select id="car_seats" class="form-control" name="" placeholder="How many seats in your car?">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="modal.ok()">Submit</button>
    <button class="btn btn-warning" type="button" ng-click="modal.cancel()">Cancel</button>
  </div>
</script>
