.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 100px 150px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #d5f1fc;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.navbar-text {
  margin-left: 15px;
}

.navbar-brand img {
  height: 100%;
}

.margin-20 {
  margin: 20px;
}

.container {
  .carousel-control.left {
    background-image: none;
  }
  .carousel-control.right {
    background-image: none;
  }
}
