<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control" placeholder="Pick-up" id="pickup">
          <span class="input-group-addon">
          </span>
      </div>
      <br>

      <div class="form-group">
        <div class='input-group date' id='datetimepicker'>
          <input type='text' class="form-control" placeholder="Date and Time" id="datetime"/>
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group stylish-input-group">
        <input type="text" class="form-control" placeholder="Drop-off" id="dropoff">
          <span class="input-group-addon">
          </span>
      </div>
      <br>
      <button type="button" ng-click="changeMap()" class="btn half-fill">Find Route</button>
      <button type="button" ng-click="doQuery('GET')" class="btn half-fill">Search<span class="glyphicon glyphicon-search"></span></button>
      <button type="button" ng-click="expandMap()" class="btn half-fill"> Expand Map</button>
      <br>

      <p class='error'>Missing search fields.</p>
    </div>
    <div class="col-sm-6">
      <iframe
        id="map"
        width="100%"
        height="100"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA-S7NFs0U7prOtOHVF558VSL51qOlOmd0&origin=DC Library, Ring Road, Waterloo, ON, Canada&destination=Airport Road, Toronto, ON, Canada&avoid=tolls|highways"
        allowfullscreen>
      </iframe>
    </div>
  </div>
  <p>DELETE ME -- Search will randomly return 0 or 2 results for testing purposes -- DELETE ME</p>
  <br>

  <div class="row">
    <div class="col-sm-12 text-center text-alert" id="no-matches" ng-click="doQuery('POST')">
      <p>We couldn't find any matches! Click here to notify you when there's a match!</p>
    </div>
    <div class="col-sm-12 text-center text-success" id="query-saved">
      <p>Query saved! We will notify you when there's a match!</p>
    </div>
  </div>

  <table class="table margin-top-20">
    <thead>
    <tr>
      <th>Price</th>
      <th>Pick-up</th>
      <th>Drop-off</th>
      <th>Map</th>
      <th width="180">Time</th>
      <th>Seats</th>
      <th>Preferences</th>
      <th>Vehicle</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="t in search.trip_info">
      <td><span class="label label-primary">{{ t.price |currency}}</span>
      </td>
      <td>{{ t.f_city }}
        <div ng-show="t.opened" class="animate-show">{{ t.f_address }}</div>

      </td>
      <td>{{ t.t_city }}
        <div ng-show="t.opened" class="animate-show">{{ t.t_address }}</div>
      </td>
      <td>
        <a type="button" class="transparent-btn" href="https://www.google.com/maps/dir/{{t.f_address}}/{{t.t_address}}" target="_blank">
          <span class="glyphicon glyphicon-map-marker"></span>
        </a>
      </td>
      <td>{{ t.f_datetime|date:'yyyy-MM-dd HH:mm:ss'}}
        <div ng-show="t.opened" class="animate-show">In 48h 45m</div>
      </td>
      <td>{{ t.seats_available }}/{{ t.vehicle.seat}}
        <div ng-show="t.opened" class="animate-show"><img class="car-seats" src="assets/images/car.png"></div>
      </td>
      <td><i class="fa fa-female" ng-show="t.babyseat"></i> <i class="fa fa-music"></i> <i class="fa fa-wheelchair" ng-show="t.wheelchair"></i></td>
      <td>{{ t.vehicle.maker}}
        <div ng-show="t.opened" class="animate-show">{{ t.vehicle.year}} {{t.vehicle.model}}</div>
      </td>
      <td>
        <button type="button" ng-show="!t.opened" ng-click="t.opened=!t.opened" class="transparent-btn">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
        <button type="button" ng-show="t.opened" ng-click="t.opened=!t.opened" class="transparent-btn">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button type="button" class="btn btn-xs btn-join btn-warning" ng-show="t.completed">Close</button>
        <button type="button" class="btn btn-xs btn-join btn-success" ng-show="!t.completed">Open</button>
      </td>
    </tr>
    </tbody>
  </table>
  </table>
</div>

<script>
  function placeChangedCallback(input, autocomplete, infoWindow) {
    infoWindow.close();
    var place = autocomplete.getPlace();
    var address = "";
    if (place) {
      if (place.address_components) {
        address = [
          (place.address_components[0] && place.address_components[0].short_name || ''),
          (place.address_components[1] && place.address_components[1].short_name || ''),
          (place.address_components[2] && place.address_components[2].short_name || '')
        ].join(' ');
      }
      input.setAttribute('place_id', place.id);
      infoWindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    }
  }

  function initMap() {
    var pickup = document.getElementById('pickup');
    var dropoff = document.getElementById('dropoff');
    var autoPickup = new google.maps.places.Autocomplete(pickup);
    var autoDropoff = new google.maps.places.Autocomplete(dropoff);
    var infoWindow = new google.maps.InfoWindow();
    autoPickup.addListener('place_changed', placeChangedCallback(pickup, autoPickup, infoWindow));
    autoDropoff.addListener('place_changed', placeChangedCallback(dropoff, autoDropoff, infoWindow));
  }

  initMap();

  $('#datetimepicker').datetimepicker();


  function toggleDetails(rowElement) {
    var arrowElement = $(rowElement.find("#arrow"));
    if (arrowElement.hasClass("glyphicon-chevron-down")) {
      arrowElement.removeClass("glyphicon-chevron-down").addClass("glyphicon-chevron-up");
      var expanding = true;
    } else {
      arrowElement.removeClass("glyphicon-chevron-up").addClass("glyphicon-chevron-down");
      var expanding = false;
    }

    // handle the content to toggle
    var toToggle = $(rowElement.find(".expandDetail"));
    //console.log(toToggle);
    for (var content = 0; content < toToggle.length; content++) {
      $(toToggle[content]).toggle();
      //console.log(toToggle[content]);
    }
  }

  $('body').on("click", "[id^=join-]", function () {
    var tripid = $(this).attr('id').split('-')[1];
    var userid = 0; // TODO

    var url = '/tripid?tripid=' + tripid + '&userid=' + userid;
    var xhr = new XMLHttpRequest();
    xhr.open("POST", url, true);
    xhr.send();

    if (xhr.status == 0) {
      window.location.href = "/trip";
    }
  });

  $('body').on("click", "#expand", function () {
    toggleDetails($(this).closest('[id^=row]'));
  });

</script>

<footer></footer>
