<navbar></navbar>

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Pick-up" id="pickup">
          <span class="input-group-addon">  
          </span>
      </div>
      <br>
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Date" >
          <span class="input-group-addon">  
          </span>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="input-group stylish-input-group">
          <input type="text" class="form-control"  placeholder="Drop-off" id="dropoff">
          <span class="input-group-addon">  
          </span>
      </div>
      <br>
      <button type="button" ng-click="doQuery()" class="btn half-fill">Search <span class="glyphicon glyphicon-search"></span></button>
      <button type="button" class="btn half-fill"> Expand Map</button>
    </div>
    <div class="col-sm-6">
      <iframe
      width="100%"
      height="100"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyA-S7NFs0U7prOtOHVF558VSL51qOlOmd0&origin=Oslo+Norway&destination=Telemark+Norway&avoid=tolls|highways" allowfullscreen>
      </iframe>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-sm-12 text-center text-alert" id="no-matches">
      <p>We couldn't find any matches! Click here to notify you when there's a match!</p>
    </div>
  </div>

  <table class="table margin-top-20">
    <thead>
      <tr>
        <th>Pick-up</th>
        <th>Drop-off</th>
        <th>Map</th>
        <th>Time</th>
        <th>Seats</th>
        <th>Preferences</th>
        <th>Vehicle</th>
        <th></th>
      </tr>
    </thead>
    <tbody id='searchResultTable'>
      <tr id="row1">
        <td>Waterloo<div class="expandDetail">201 King Street</div></td>
        <td>Toronto<div class="expandDetail">3422 College Street</div></td>
        <td>
          <button type="button" class="transparent-btn">
            <span class="glyphicon glyphicon-map-marker"></span>
          </button>
        </td>
        <td>2/13/2016 4:00 PM<div class="expandDetail">In 48h 45m</div></td>
        <td>3/4<div class="expandDetail"><img class="car-seats" src="assets/images/car.png"></div></td>
        <td><i class="fa fa-female"></i> <i class="fa fa-music"></i> <i class="fa fa-wheelchair"></i></td>
        <td>Sedan<div class="expandDetail">2016 Honda Civic</div></td>
        <td>
          <button type="button" ng-click="toggleInfo(1)" class="transparent-btn">
            <span id="arrow" class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-xs btn-join">Join</button>
        </td>
      </tr>
      <tr id="row2">
        <td>Waterloo<div class="expandDetail">201 King Street</div></td>
        <td>Toronto<div class="expandDetail">3422 College Street</div></td>
        <td>
          <button type="button" class="transparent-btn">
            <span class="glyphicon glyphicon-map-marker"></span>
          </button>
        </td>
        <td>2/13/2016 4:00 PM<div class="expandDetail">In 48h 45m</div></td>
        <td>3/4<div class="expandDetail"><img class="car-seats" src="assets/images/car.png"></div></td>
        <td><i class="fa fa-female"></i> <i class="fa fa-music"></i> <i class="fa fa-wheelchair"></td>
        <td>Sedan<div class="expandDetail">2016 Honda Civic</div></td>
        <td>
          <button type="button" ng-click="toggleInfo(2)" class="transparent-btn">
            <span id="arrow" class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-xs btn-join">Join</button>
        </td>
      </tr>
      <tr id="row3">
        <td>Waterloo<div class="expandDetail">201 King Street</div></td>
        <td>Toronto<div class="expandDetail">3422 College Street</div></td>
        <td>
          <button type="button" class="transparent-btn">
            <span class="glyphicon glyphicon-map-marker"></span>
          </button>
        </td>
        <td>2/13/2016 4:00 PM<div class="expandDetail">In 48h 45m</div></td>
        <td>3/4<div class="expandDetail"><img class="car-seats" src="assets/images/car.png"></div></td>
        <td><i class="fa fa-female"></i> <i class="fa fa-music"></i> <i class="fa fa-wheelchair"></td>
        <td>Sedan<div class="expandDetail">2016 Honda Civic</div></td>
        <td>
          <button type="button" ng-click="toggleInfo(3)" class="transparent-btn">
            <span id="arrow" class="glyphicon glyphicon-chevron-down"></span>
          </button>
          <button type="button" class="btn btn-xs btn-join">Join</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<script>
function initMap() {
  var input = document.getElementById('pickup');
  var autocomplete = new google.maps.places.Autocomplete(input);
  var infoWindow = new google.maps.InfoWindow();
  autocomplete.addListener('place_changed', function(){
    infoWindow.close();
    var place = autocomplete.getPlace();
    var address = "";
    if(place.address_components){
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }

    input.setAttribute('place_id', place.id);
    infoWindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
  });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqEKnuKtS4dpk7wHA4feI0j90LrDeJY_U&libraries=places&callback=initMap" async defer></script>


<footer></footer>
